<p id="notice"><%= notice %></p>

<h1>Isbs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Isa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @isbs.each do |isb| %>
      <tr>
        <td><%= isb.name %></td>
        <td><%= isb.isa_id %></td>
        <td><%= link_to 'Show', isb %></td>
        <td><%= link_to 'Edit', edit_isb_path(isb) %></td>
        <td><%= link_to 'Destroy', isb, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Isb', new_isb_path %>
