<div style="color: #000;position: relative;top: 20px;left: 270px;">
	<div>
		<h3>充值</h3>
		<div>
			<%= form_tag ('/request/recharge/create'), method: 'post' do %>
				<div>
					<label for="user_id">用户:</label>
					<select id="user_id" name="user_id">
						<% @user.each do |u| %>
							<option value="<%= u.id %>"><%= u.user_name %></option>
						<% end %>
					</select>
				</div>
				<div>
					<label for="phone">phone:</label>
					<span id="phone"><%= @phone %></span>
				</div>
				<div>
					<label for="money">money:</label>
					<%= text_field_tag(:money, '', placeholder:'充值金额') %>
				</div>
				<div>
					<label for="bank_card">bankCard:</label>
					<%= select_tag :bank_card, options_for_select(@bankCard.map{|c| [c.bank_card, c.id]})%>
				</div>
				
				<%= submit_tag( '添加' )%>
			<% end %>	
		</div>
	</div>
</div>
<script type="text/javascript">
	console.log(1111)
</script>
