<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :avatar %>
    <% if @image.avatar.url(:original) %>
      <%= image_tag @image.avatar.url(:original), :onerror=>"javascript:this.src='/assets" + @image.avatar.url(:original) + "'" + ";javascript:this.style='width: 80px;height: 80px;'" %>
    <% end %>
    <div>
      <%= form.file_field :avatar %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
